<nav class="sidebar">
  <div class="sidebar-title">Kitchen</div>

  <div class="nav">
    

    <a class="nav-item" data-page="pending" href="/chef/Pending/pending.html">
      Pending
    </a>
    <a class="nav-item" data-page="active" href="/chef/Accepted_Orders/accepted_orders.html">
      Accepted Orders
    </a>

    <a class="nav-item" data-page="in-progress" href="/chef/In_progress/In_progress.html">
      In-progress
    </a>

    <a class="nav-item" data-page="completed" href="/chef/Completed/completed.html">
      Completed
    </a>
  </div>
</nav>
